#!/usr/bin/env python
PACKAGE='target_detector'
from dynamic_reconfigure.parameter_generator_catkin import *
gen = ParameterGenerator()

#     Name                         Type      Reconfiguration level  Description                                      Default  Min    Max
gen.add("column_size",             double_t, -1,                   "Side length for square columns or diameter for cylindrical columns", 0.5, 0.01, 5.0)
gen.add("max_detection_range",     double_t, -1,                   "Maximum lidar range used for column detection", 25.0, 0.1, 100.0)
gen.add("column_isolation_distance", double_t, -1,                 "Extra isolation margin around the estimated column footprint", 0.0, 0.0, 5.0)
gen.add("override_support_points", int_t,    -1,                   "Fixed minimum support points, 0 keeps automatic threshold", 0, 0, 2000)
gen.add("scan_decimation",         int_t,    -1,                   "Only every N-th scan is processed", 1, 1, 100)

exit(gen.generate(PACKAGE, "target_detector", "column_perceptor"))
