#!/usr/bin/env python
PACKAGE='target_detector'
from dynamic_reconfigure.parameter_generator_catkin import *
gen = ParameterGenerator()

#     Name     Type    Reconfiguration level            Description                       Default   Min   Max
gen.add("min_reflector_intensity", int_t, -1, "Min reflector intensity, [#]", 4500, 0, 15000 )
gen.add("target_size", double_t, -1, "Size of target, [m]", 0.02, 0.0, 0.5 )

exit(gen.generate(PACKAGE, "target_detector", "target_detector"))
