<?xml version="1.0"?>

<launch>

	<!-- Input arguments -->
	<arg name="robot_id" default="robot_1" />
	<arg name="namespace" default="perception" />

	<!-- Primitive and composite detector parameters -->
	<group ns="$(arg namespace)">
		<rosparam file="$(find target_detector)/config/primitive_detectors.yaml" command="load"/>
		<rosparam file="$(find target_detector)/config/composite_detectors.yaml" command="load"/>

		<group ns="small_reflectors">
			<node
				pkg="target_detector"
				type="reflector_perceptor"
				name="perceptor"
				output="screen" >
				<remap from="/tf_static" to="/$(arg robot_id)/tf_static"/>
				<remap from="lidar_front" to="/$(arg robot_id)/devices/lidar_front/scan"/>
				<remap from="lidar_back" to="/$(arg robot_id)/devices/lidar_back/scan"/>
			</node>
		</group>

		<group ns="big_reflectors">
			<node
				pkg="target_detector"
				type="reflector_perceptor"
				name="perceptor"
				output="screen" >
				<remap from="/tf_static" to="/$(arg robot_id)/tf_static"/>
				<remap from="lidar_front" to="/$(arg robot_id)/devices/lidar_front/scan"/>
				<remap from="lidar_back" to="/$(arg robot_id)/devices/lidar_back/scan"/>
			</node>
		</group>

		<group ns="docking_pairs">
			<node
				pkg="target_detector"
				type="baseline_pair_perceptor"
				name="perceptor"
				output="screen" >
				<remap from="/tf_static" to="/$(arg robot_id)/tf_static"/>
				<remap from="detections_in" to="/$(arg robot_id)/$(arg namespace)/small_reflectors/detections"/>
			</node>
		</group>

		<group ns="beacons">
			<node
				pkg="target_detector"
				type="tmk_uwb_perceptor"
				name="perceptor"
				output="screen" >
				<remap from="/tf_static" to="/$(arg robot_id)/tf_static"/>
				<remap from="detections_in" to="/$(arg robot_id)/devices/beacons/uwb_measurements"/>
			</node>
		</group>
	</group>

</launch>
